

.main-auth{
    opacity: 0;
    display: flex;    
    margin: auto;
    margin-top: 10px;
    width: 25%;
    justify-content: center;
    
}
.btn-login{
    height: 30px;
    width: 110px;
}
.btn-signup{
    height: 30px;
    width: 110px;

}