@keyframes auth {
    0%{

     opacity: 0;
    }
    100%{
  
     opacity: 1;
    }
 }

.form-data{
    margin-top: -250px;
    opacity: 0;  
    animation-name: auth;
    animation-duration: 2000ms;
    animation-delay: 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

.mail{
    width: 25%;
    margin: auto;
 
    }
label{
    display: grid;
}
.password{
    margin: auto;
    width: 25%;
}
