h1{
    text-align: center;
}
.create-form{
    display: flex;
    flex-direction: column;
}
.field{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;

}
input{
    margin: auto;
    width: 20%;
}

::placeholder{
    text-align: center;
}

button{
    margin: auto;
    margin-top: 15px;
    width: 10%;
}
a{
    margin: auto;
}
.createPost{
    width: 100%;
}