 
.navbar{
    width: 50%;
    display: flex;
    margin: auto;  
    margin-top: -220px;  
}
button{
    width: 200px !important;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
