.post-container{
    display: flex;
    flex-direction: column;
}

.post-block{
    background-color: white;
    width: 80%;
    border-radius: 10px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    
}

.post-button-main{
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}

.post-content{
    width: 100%;
    margin-bottom: 15px;
}

h4{
    padding-left: 10px;
}
.post-user{
    border-bottom: solid 1px black;
}

.post-text{
    padding-left: 10px;
}



.active-like{
    background-color: blue;
}

.active-dislike{
    background-color: red;
}