/* Small Devices */
@media (width>=300px){
.Loading{
    display: flex;
    width: 100% !important;
    margin-top: 15px !important;
    margin-bottom: 0px !important;
    margin: auto;
}

.Loading > img{
    width: 90%;
    margin: auto;
}

.create-form{
    width: 250px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background-color: white;

}

.field > img{
    width: 60%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
}

.field > input{
    margin: auto;
    width: 200px;

}

.field{
    margin-bottom: 15px;
}
.field > button{
    width: 100px;
    margin: auto;
    margin-top: 10px;

}

.post-img > img{
    width: 75%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
}

h1{
    width: 80%;
    margin: auto;
    font-size: calc(22px + 0.390625vw);
}



.main-navigator {
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

.main-createPost{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.post-button{
    width: 30%!important;
    height: 30px;
    font-size: 12px;
}

.post-header{
    width: 95%;
    display: flex;
    justify-content: space-between;
}



.already-signup{
    display: flex;
    justify-content: center;
    margin: auto;
}

.already-signup > a{
    margin: auto;
margin-left: 5px;
margin-right: 5px;}
    
textarea{
    width: 80%;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
}

label{
    width: 55%;
    margin: auto;
}

#addFile{
    height: 30px;
    width: 10%;
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputFile:focus + label,
.inputFile + label:hover {
    background-color: red;
}

.inputFile + label {
	cursor: pointer; 
}

.inputFile:focus + label {
	outline: 1px solid blue;
	outline: -webkit-focus-ring-color auto 5px;
}

.post-button-main {
    justify-content: space-around;
    width: 100%;

}

.post-block{
    margin: auto;
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}

.post-user{
    width: 100%;
}

.postedBy{
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}

}

@media (width>=576px) {

    .field > input {
        margin: auto;
        width: 300px;
      }

      .create-form{
        width: 350px;
    
    }
    

}
  
@media (width>=768px) {

    .field > input {
        margin: auto;
        width: 300px;
      }

    .post-button{
        width: 15% !important;
        margin-right: 15px;

    }
    .post-button-main{
        justify-content: flex-start;
    }

    .main-navigator{
        width: 100%;
    }

    .main-createPost{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}

