/* Small Devices */
@media (min-width: 300px) and (max-width: 1400px) {
.Loading{
    width: 100% !important;
    margin-top: 15px !important;
    margin-bottom: 0px !important;
    margin: auto;
}

.post-img, img{
    width: 90%;
    display: flex;
    margin: auto;
    overflow: hidden;
}

h1{
    width: 60%;
    margin: auto;
    font-size: calc(22px + 0.390625vw);
}

svg{
    vertical-align: sub;
}

.createPost{
    width: 150% ;
}

.post-button{
    width: 40%!important;
    height: 30px;
    font-size: 15px;
}
}